name: Cypress Tests
on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          # Robot nainštaluje všetko potrebné
          install-command: npm install --force
          # Tu mu hovoríme: Spusti presne tento súbor
          spec: cypress/e2e/login.cy.js 
          browser: chrome